@model RegistrationForm.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>

</head>
<body>
    <p>Thanks for your action, </p> @Model.Name !
    <a asp-action="StudentList"> Danh Sách Đã Đăng Ký</a>
</body>
</html>
